.errorpage {
    padding: 3rem;
    color: var(--color-primary-fore);
    font-size: 1.2rem;
}

.text-jumbo {
    font-size: 10rem;
}

.errorpage h1{
    padding-bottom: 0;
    margin-bottom: 0;
    font-size: 10rem;
}

.errorpage h2{
    margin-top: 0;
    font-size: 2rem;
    font-weight: normal;
}

.errorpage h6{
    margin-top: 0;
    font-size: 2rem;
    font-weight: normal;
}

.errorpage ul{
    list-style: none;
    padding: 0;
    margin: 0;
}
.errorpage h6{
    color: var(--color-secundary-fore);
}