
.jbllogo{
    min-width: 300px;
    width: 50vw;
  }
  
  .goldGradient {
    background: rgb(15,18,43);
    background: linear-gradient(135deg, rgba(248,241,140,1) 30%, rgba(152,110,42,1) 100%);
  }